@import url("https://fonts.googleapis.com/css2?family=Qwigley&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --max-width: 1200px;
  
  --muted: #7f8c8d;
  --dark: #000000;
  --subtitle: #ffffff;
  --btnColor: #ff9c00;
  --borderColor: #9f1915;
  --iconColor: #ff9c00;
}

* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.por {
  border: 1px solid red;
}

.css-53g0n7-MuiButtonBase-root-MuiIconButton-root {
  padding: 0 !important;
}
.flex {
  display: flex;
  align-items: center;
}
